#login{
	font-family: Century Gothic;
	font-size: 17px;
	margin-left: 10px;
	margin-top: 2px;
}
#register{
	margin-top:50px;
}
#reg{
	height:32px;
	width: 100px;
	font-family: Century Gothic;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#link{
	height:32px;
	width: 90px;
	font-family: Century Gothic;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	color: white;
}
#login2{
	height:32px;
	width: 90px;
	font-family: Century Gothic;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.well {
	background-color: black;
	height: 60px;
	color: white;
}
#ack{
	color: black;
	margin-left: 108px;
	margin-top: 10px;
}
#login2{
	font-family: Century Gothic;
	margin-left: 10px;

}
#score{
	font-size: 20px;
	margin-bottom: 10px;
}
#loginname{
	margin-top: -20px;
	position: absolute;
	z-index: 101;
}
#table{
	width: 50px;
	min-width: 1100px;
}
.font{
	color :black;
}
.btn{
	margin-top: 70px;
	margin-left: 450px;
	height: 100px;
	width: 220px;
	font-size: 30px;
}
#btn1{
	margin-left: 10px;
	margin-top: 70px;
	height: 100px;
	width: 220px;
	font-size: 30px;
}
#button3{
	height: 30px;
	width: 100px;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 3px;
}
#btn4{
	height: 30px;
	width: 100px;
	font-size: 18px;
	margin-top: 3px;
	margin-left: 10px;
}
#btn5{
	height: 30px;
	width: 150px;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#btn6{
	height: 30px;
	width: 130px;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
}
#nextbtn{
	height:32px;
	width: 90px;
	font-family: Century Gothic;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#bgcolor{
	background-color: #B0C4DE;
}
#btnAdd{
	height: 30px;
	width: 120px;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 3px;
}
#btnEdit{
	height: 15px;
	width: 50px;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 3px;
}
#btnDel{
	height: 15px;
	width: 50px;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 3px;
}